@using System.Threading
@inject WebSocketService m_WebSocketService
@implements IDisposable

<div>
    @if(!string.IsNullOrEmpty(ErrorMessageConnect)){
        <div>Failed to connect to Websocket: @ErrorMessageConnect</div>
    }else{
        <h3>Broadcasted from WebSocketService</h3>
        <div class="col-12">
            Key:<span style="font-weight:bold; padding-left:10px;">@Model?.Key</span>
            <br>
            Value:<span style="font-weight:bold; padding-left:10px;">@Model?.Value</span>
        </div>
    }
</div>

@code{
    public string ErrorMessageConnect = string.Empty;
    public PostModel Model;
    private CancellationTokenSource m_DisposalTokenSource = new CancellationTokenSource();
    protected override async Task OnInitializedAsync()
    {
        var errorMessage = await m_WebSocketService.ConnectAsync(m_DisposalTokenSource.Token);
        ErrorMessageConnect = errorMessage;

        if (!string.IsNullOrEmpty(errorMessage))
            return;

        await foreach (var message in m_WebSocketService.ConsumeAsync(m_DisposalTokenSource.Token))
        {
            Model = message;
            StateHasChanged();
        }
    }

    public async void Dispose()
    {
        m_DisposalTokenSource.Cancel();
        await m_WebSocketService.CloseConnectionAsync();
    }
}